Custom styles .contain {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.head1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.head2 {
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}
